.shopSection{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.shopItem{
    border: 3px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.itemImage{
   
    margin-left: 15%;
    margin-top: 5%;
    display: block;
    max-width:125px;
    max-height:125px;
    width: auto;
    height: auto;
    
}

.addToCart{
    width: 100px;
    height: 30px;
    background-color: rgb(2, 145, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
    /*Center to center of div
    margin-left: 25%;
    margin-right: 50%;
    position: relative;
    right:    0;
    bottom:   0;
    */
    
}



#store{
    text-align: center;
}

#cart{
    text-align: center;
    display: grid;
    
}
th {
    border-bottom: 1px solid black;
}

#login{
    text-align: center;
    font-size: 25px;
    background-color: rgba(205, 205, 205, 0.722);
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    
    
}

#name {
    width: 300px;
    margin-bottom: 1em;
}

#grade{
    margin-bottom: 1em;
}

#login-google{
   
    
    width: 250px;
    height: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: -40px;
    display: inline-block;
    vertical-align: middle;
    
   
}

#enter-store{
    height: 30px;
    width: 100px;
    font-size: 15px;
    margin-bottom: 1em;
    margin-top: 1em;
}


#login-title {
    margin-bottom: 0em;
}

#review-order{
    height: 50px;
    width: 150px;
    font-size: 20px;
}

#submit-order{
    height: 50px;
    width: 150px;
    font-size: 20px;
    
}

#google-signin{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 33%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.item-section{
    border-radius: 25px;
}

li:not(:first-of-type) {
    margin-top: 1em;
}

li:not(:last-of-type) {
    margin-bottom: 1em;
}