.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
   
  }

  #reader{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    background-color: black;
    border-radius: 5%;
  }

  .center {
    display: flex;
    justify-content: center;
  }
  
  .XMark {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;

    border-radius: 0 0 0 5px;
    width: 20px;
}
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media only screen and (max-width: 768px) {
  
  }