.XMark {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;

    border-radius: 0 0 0 5px;
    width: 20px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .StudentsPrompt {
      width: 80vw !important;
      height: 57vh  !important;
    }
}

  .StudentsPrompt {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 20vw;
    background-color: rgb(255, 134, 42);
    color: white;
  }
  
  .loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
   
  }


  .center {
    display: flex;
    justify-content: center;
  }
  

   input{
    /* margin: 15px; */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    
  
  
  }
  
  ::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: white;
  }
  
  input:focus{
    outline: none;
  }

