#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}


.Login{
  display: flex;

  flex-direction: column;

  height: 500px;
  width: 500px;
  background-color: rgb(255, 134, 42);
  border-radius: 5%;
}

.Login input{
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  


}

.Login ::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.Login ::-ms-input-placeholder { /* Edge 12 -18 */
  color: white;
}

.Login input:focus{
  outline: none;
}

.Login button{
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #4169E1;
  color: white;
}

.actionBtn {

  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #4169E1;
  color: white;
}

.actionBtn:hover {
  background-color: #0000FF;
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .Login{
    width: 80vw;
    height: 75vh;
  }
}

.loginBtn {
  margin: 20px;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
 
}

.center {
  display: flex;
  justify-content: center;
}

dialog {
  width: 250px;
  height: 300px;
  background-color: rgb(255, 134, 42);
  color: white;
  border: none;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;

  /* align-items: center; */
  /* justify-content: center;s */
}

.createTitle{
  margin-bottom: 5px;
}